
* {box-sizing: border-box}

/* Add padding to containers */
.nav-section-reg {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F6F6F6;
    border-bottom: 1px solid #F1F1F1;
    font-family: 'Russo One', sans-serif;
    margin: 0%;
  }
  .nav-section-reg .home-title-reg {
    font-size: 3rem;

  }
  .nav-section-reg .home-nav-reg {
    font-size: 1.8rem;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-evenly;
    width: 80%;
  }
 @media (max-width: 500px) {
    .nav-section-reg .home-nav-reg {
      width: 100%;
      font-size: 1.3rem;
    }
  }
  .nav-section-reg .home-nav-reg a {
    text-decoration: none;
    color: #454A59;
  }
  .nav-section-reg .home-nav-reg a:hover {
    color: teal;
  }

form {
    display: flex;
    flex-direction: column;
}
.container {
  padding: 16px;
  width: 75%;
  display: flex;
  flex-direction: column;
  align-self: center;
  font-family: 'Russo One', sans-serif;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: black;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  font-size: 1.8rem;
}

.registerbtn:hover {
  opacity:1;
  background: teal;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}