// Mixins Here
.btn-style(@font-size, @width, @text-align, @background, @padding, @border-radius, @color) {
    font-size: @font-size;
    width: @width;
    text-align: @text-align;
    background: @background;
    padding: @padding;
    border-radius: @border-radius;
    color: @color;
}